<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{{meta_title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/main.css"}}" />
    {{ghost_head}}
</head>


<body class="{{body_class}}">

    {{{body}}}

    <footer class="site-footer">
        <div class="footer-contact">
            <div class="contact-link-wrapper">
                <a class="contact-link fa fa-envelope" title="Email" href="mailto:marko@markopapic.com" target="_blank"></a>
            </div>
            <div class="contact-link-wrapper">
                <a class="contact-link fa fa-skype" title="Skype" href="skype:live:marko_3268?userinfo" target="_blank"></a>
            </div>
            <div class="contact-link-wrapper">
                <a class="contact-link fa fa-linkedin" title="LinkedIn" href="https://www.linkedin.com/in/papicmarko" target="_blank"></a>
            </div>
            <div class="contact-link-wrapper">
                <a class="contact-link fa fa-github" title="GitHub" href="https://github.com/markopapic" target="_blank"></a>
            </div>
            <div class="contact-link-wrapper">
                <a class="contact-link fa fa-twitter" title="Twitter" href="https://www.twitter.com/papicmarko" target="_blank"></a>
            </div>
            <div class="contact-link-wrapper">
                <a class="contact-link fa fa-facebook" title="Facebook" href="https://www.facebook.com/papicmarko" target="_blank"></a>
            </div>
            <div class="contact-link-wrapper">
                <a class="contact-link fa fa-instagram" title="Instagram" href="https://www.instagram.com/marko__papic" target="_blank"></a>
            </div>
        </div>
        <div class="footer-copyright">&copy; <span class="footer-site-title">{{@blog.title}}</span> all rights reserved.</div>
    </footer>

    {{{block "scripts"}}}

    <script src="{{asset "js/navigation-menu-toggle.js"}}"></script>
    {{ghost_foot}}
</body>

</html>