<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{{meta_title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/main.css"}}" />
</head>


<body class="error-template">
    <header class="site-header {{#if @blog.cover_image}} with-cover" style="background-image: url({{@blog.cover_image}}){{else}}no-cover{{/if}}">
        <div class="blog-meta">
            {{#if @blog.logo}}
                <img class="site-logo" src="{{@blog.logo}}" alt="{{@blog.title}}" />
            {{/if}}
            <h1 class="site-title">{{@blog.title}}</h1>
            <div class="site-description">{{@blog.description}}</div>
        </div>
    </header>
    <main>
        <div class="error-page-content">
            <section class="error-message">
                <h1 class="error-code">{{code}}</h1>
                <p class="error-description">{{message}}</p>
                <div>Go to <a class="error-link" href="{{@blog.url}}">home page</a>.</div>
            </section>

            {{#if errorDetails}}
            <section class="error-stack">
                <h3>Theme errors</h3>
                <ul class="error-stack-list">
                    {{#each errorDetails}}
                        <li>
                            <em class="error-stack-function">{{{rule}}}</em>

                            {{#each failures}}
                                <p><span class="error-stack-file">Ref: {{ref}}</span></p>
                                <p><span class="error-stack-file">Message: {{message}}</span></p>
                            {{/each}}
                        </li>
                    {{/each}}
                </ul>
            </section>
            {{/if}}
        </div>
    </main>
    <footer class="site-footer">
        <div class="footer-contact">
            <div class="contact-link-wrapper">
                <a class="contact-link fa fa-envelope" href="mailto:marko@markopapic.com" target="_blank"></a>
            </div>
            <div class="contact-link-wrapper">
                <a class="contact-link fa fa-facebook" href="https://www.facebook.com/papicmarko" target="_blank"></a>
            </div>
            <div class="contact-link-wrapper">
                <a class="contact-link fa fa-twitter" href="https://www.twitter.com/papicmarko" target="_blank"></a>
            </div>
            <div class="contact-link-wrapper">
                <a class="contact-link fa fa-linkedin" href="https://www.linkedin.com/in/papicmarko" target="_blank"></a>
            </div>
            <div class="contact-link-wrapper">
                <a class="contact-link fa fa-skype" href="skype:live:marko_3268?userinfo" target="_blank"></a>
            </div>
            <div class="contact-link-wrapper">
                <a class="contact-link fa fa-github" href="https://github.com/markopapic" target="_blank"></a>
            </div>
        </div>
        <div class="footer-copyright">&copy; <span class="footer-site-title">{{@blog.title}}</span> all rights reserved.</div>
    </footer>
    <script src="{{asset "js/navigation-menu-toggle.js"}}"></script>
</body>

</html>