{{!< default}}

{{#post}}

<header class="site-header no-cover">
    <nav class="site-navigation">
        {{#if @blog.navigation}}
            <button id="navigation-menu-button" class="menu-button" aria-haspopup="true" aria-expanded="false" aria-controls="menu" aria-label="Navigation"><div class="hamburger-button"><div></div><div></div><div></div></div></button>
        {{/if}}
        {{navigation}}
        <div class="progress-container">
            <div class="progress-bar" id="progress-bar"></div>
        </div>
    </nav>
</header>
<main>
    <article class="{{post_class}} post-full">
        <header>
            <div class="post-header-background{{#if feature_image}} with-image" style="background-image: url({{feature_image}}){{/if}}">
                <h1 class="post-title">{{title}}</h1>
            </div>
        </header>
        <section class="post-meta">
            <div>
                <time pubdate="pubdate" datetime="{{date format="YYYY-MM-DD"}}">{{date published_at format="D MMMM YYYY"}}</time>
            </div>
        </section>
        <section class="post-content">
            {{content}}
        </section>
        <footer class="post-footer">
            {{#if tags}}
                <ul class="post-tags-list">
                    {{#foreach tags}}
                        <li>
                            <a href="{{url}}" title="{{name}}" class="tag tag-{{id}} {{slug}}">{{name}}</a>
                        </li>  
                    {{/foreach}}
                </ul>
            {{/if}}
            <div>
                <span class="share-label">Share:</span>
                <div class="share-link-wrapper">
                    <a class="share-link fa fa-facebook" title="Facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"></a>
                </div>
                <div class="share-link-wrapper">
                    <a class="share-link fa fa-twitter" title="Twitter" target="_blank" href="https://twitter.com/intent/tweet?url={{url absolute="true"}}"></a>
                </div>
                <div class="share-link-wrapper">
                    <a class="share-link fa fa-google-plus" title="Google+" target="_blank" href="https://plus.google.com/share?url={{url absolute="true"}}"></a>
                </div>
                <div class="share-link-wrapper">
                    <a class="share-link fa fa-linkedin" title="LinkedIn" target="_blank" href="https://www.linkedin.com/shareArticle?url={{url absolute="true"}}&source=LinkedIn"></a>
                </div>
            </div>
        </footer>
        <section class="post-comments">
            <div id="disqus_thread"></div>
            <script>
                /**
                *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                var disqus_config = function () {
                    this.page.url = "{{url absolute="true"}}";  // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = "ghost-{{comment_id}}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                (function() { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = 'https://marko-papic.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
                </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </section>
    </article>
</main>

{{/post}}

{{#contentFor "scripts"}}
    <script src="{{asset "js/post-progress-bar.js"}}"></script>
    <script src="{{asset "js/highlight.min.js"}}"></script>
    <script>hljs.initHighlightingOnLoad();</script> 
{{/contentFor}}