{{!< default}}

{{#tag}}

<header class="site-header {{#if @blog.cover_image}} with-cover" style="background-image: url({{@blog.cover_image}}){{else}}no-cover{{/if}}">
    <nav class="site-navigation">
        {{#if @blog.navigation}}
            <button id="navigation-menu-button" class="menu-button" aria-haspopup="true" aria-expanded="false" aria-controls="menu" aria-label="Navigation"><div class="hamburger-button"><div></div><div></div><div></div></div></button>
        {{/if}}
        {{navigation}}
    </nav>
</header>

<section class="tag-data">
    <h1 class="tag-title">{{name}}</h1>
    {{#if description}}
      <h2>{{description}}</h2>
    {{/if}}
</section>

{{/tag}}

<main>
    <div class="post-feed">
        {{#foreach posts}}
            {{> "post-card"}}
        {{/foreach}}
    </div>
    {{pagination}}
</main>

<footer class="site-footer">
    <div class="footer-contact">
        <div class="contact-link-wrapper">
            <a class="contact-link fa fa-envelope" href="mailto:marko@markopapic.com" target="_blank"></a>
        </div>
        <div class="contact-link-wrapper">
            <a class="contact-link fa fa-facebook" href="https://www.facebook.com/papicmarko" target="_blank"></a>
        </div>
        <div class="contact-link-wrapper">
            <a class="contact-link fa fa-twitter" href="https://www.twitter.com/papicmarko" target="_blank"></a>
        </div>
        <div class="contact-link-wrapper">
            <a class="contact-link fa fa-linkedin" href="https://www.linkedin.com/in/papicmarko" target="_blank"></a>
        </div>
        <div class="contact-link-wrapper">
            <a class="contact-link fa fa-skype" href="skype:live:marko_3268?userinfo" target="_blank"></a>
        </div>
        <div class="contact-link-wrapper">
            <a class="contact-link fa fa-github" href="https://github.com/markopapic" target="_blank"></a>
        </div>
    </div>
    <div class="footer-copyright">&copy; <span class="footer-site-title">{{@blog.title}}</span> all rights reserved.</div>
</footer>